<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Home {% endblock %} | Chat</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="p-4 bg-teal-600 w-full h-auto flex justify-between items-center">
    <a href="{% url 'index' %}">
      
    <h1 class="text-2xl text-white">Django Chat</h1>
    </a>
    <div class="flex gap-4">
    {% if request.user.is_authenticated %}
    <a class="text-white">Rooms</a>
    <a href="{% url 'logout' %}" class="text-white">Logout</a>
    {% else %}
    <a href="{% url 'signin' %}" class="text-white">Login</a>
    <a href="{% url 'signup' %}" class="text-white">Sign up</a>
    {% endif %}
    </div>
  </div>
  <div class="p-4 h-svh bg-teal-500">
  {% block content %}
  {% endblock %}
  </div>
  {% block script %}
  {% endblock %}
</body>
</html>